/*
Futr Enterprise API Documentation

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// EnterpriseAPIService EnterpriseAPI service
type EnterpriseAPIService service

type ApiEnterpriseControllerAuthRequest struct {
	ctx context.Context
	ApiService *EnterpriseAPIService
	authDTO *AuthDTO
}

func (r ApiEnterpriseControllerAuthRequest) AuthDTO(authDTO AuthDTO) ApiEnterpriseControllerAuthRequest {
	r.authDTO = &authDTO
	return r
}

func (r ApiEnterpriseControllerAuthRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.EnterpriseControllerAuthExecute(r)
}

/*
EnterpriseControllerAuth Authenticate and retrieve OAuth2 token

Exchanges your enterprise client credentials for an
OAuth2 access token. This token is required for accessing protected
enterprise endpoints including import-clients and document operations.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEnterpriseControllerAuthRequest
*/
func (a *EnterpriseAPIService) EnterpriseControllerAuth(ctx context.Context) ApiEnterpriseControllerAuthRequest {
	return ApiEnterpriseControllerAuthRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EnterpriseAPIService) EnterpriseControllerAuthExecute(r ApiEnterpriseControllerAuthRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAPIService.EnterpriseControllerAuth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprise/auth"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authDTO == nil {
		return localVarReturnValue, nil, reportError("authDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseControllerImportClientsRequest struct {
	ctx context.Context
	ApiService *EnterpriseAPIService
	importClientsDTO *ImportClientsDTO
}

func (r ApiEnterpriseControllerImportClientsRequest) ImportClientsDTO(importClientsDTO ImportClientsDTO) ApiEnterpriseControllerImportClientsRequest {
	r.importClientsDTO = &importClientsDTO
	return r
}

func (r ApiEnterpriseControllerImportClientsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.EnterpriseControllerImportClientsExecute(r)
}

/*
EnterpriseControllerImportClients Import enterprise clients

Imports a list of clients into your organization. Requires a
valid OAuth2 access token obtained from the /auth endpoint. Each client
will be added to your organization with the provided email and unique
external client ID.

The clientId will serve as an external identifier to track which
enterprise client each consumer belongs to. Critically, this clientId
mapping determines document upload behavior: documents uploaded by
imported clients will be stored unencrypted (enterprise-managed storage).
Clients will be created in Cognito if they do not already exist, and
their association with your organization and the provided clientId will
be stored in the system.

Import Format:
A customer-generated CSV file will be used to onboard multiple users in
bulk. The CSV file will have the following format:

clientEmail,clientId

When using the Brands App, the user's email will be used as the
clientEmail and the initial password will be an OTP sent to the
user's email. The clientId will be any unique identifier from your
enterprise system that you want to associate with this client. This will
allow you to maintain a mapping between your enterprise system and the
consumers created in this platform, and will enable unencrypted document
storage for these clients.



 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEnterpriseControllerImportClientsRequest
*/
func (a *EnterpriseAPIService) EnterpriseControllerImportClients(ctx context.Context) ApiEnterpriseControllerImportClientsRequest {
	return ApiEnterpriseControllerImportClientsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EnterpriseAPIService) EnterpriseControllerImportClientsExecute(r ApiEnterpriseControllerImportClientsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAPIService.EnterpriseControllerImportClients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprise/import-clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importClientsDTO == nil {
		return localVarReturnValue, nil, reportError("importClientsDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.importClientsDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
